<table class="table mb-5 table-striped table-borderless
                table-hover text-center">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Date of Birth</th>
    <th scope="col">Gender</th>
    <th scope="col">Identity Card Number</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Customer Rank</th>
    <th class="" scope="col">UPDATE</th>
    <th class="" scope="col">DELETE</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button type="button" class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#modalUpdate">Update
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#modalDelete">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
