<h1 class="text-center">ADD FACILITY</h1>
<div class="container mt-5">
  <form>
    <div class="row mb-4 mt-4">
      <div class="col-6">
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Facility Type Name:
            </label>
            <div class="col-sm-4">
              <select class="form-select form-control-sm"
                      aria-label="Default select example">
                <option selected>-- FACILITY TYPE --</option>
                <option value="1">VILLA</option>
                <option value="2">HOUSE</option>
                <option value="3">ROOM</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="FacilityName"
                   class="form-label">Facility
              Name: </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="" id="FacilityName">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Area: </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Service Price: </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Max User: </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Room Standard: </label>
            <div class="col-sm-4">
              <select class="form-select form-control-sm"
                      aria-label="Default select example">
                <option selected>-- Room Standard --</option>
                <option value="1">VIP</option>
                <option value="2">NORMAL</option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Floor Numbers: </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Free Service: </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Rental Type Name:
            </label>
            <div class="col-sm-4">
              <select class="form-select form-control-sm"
                      aria-label="Default select example">
                <option selected>-- RENTAL TYPE --</option>
                <option value="1">YEAR</option>
                <option value="2">MONTH</option>
                <option value="3">DAY</option>
                <option value="4">HOUR</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Pool Area: </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="d-flex gap-3">
            <label for="exampleInputEmail1"
                   class="form-label">Other Description:
            </label>
            <div class="col-sm-3">
              <input type="text" class="form-control
                                        form-control-sm"
                     value="">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="text-center"><button type="submit"
                                     class="btn btn-primary">Submit</button></div>
  </form>
</div>
