<div class="container mt-4 content">
  <div class="row">
    <h1 class="text-center text-decoration-underline
                    col">CONTRACT LIST</h1>
    <button type="button" class="btn btn-primary
                    col-sm-1 ms-auto mb-4"
            id="btnAddContract"
            data-bs-toggle="modal"
            data-bs-target="#addContract">ADD
    </button>
  </div>
  <table class="table mb-5 table-striped table-borderless table-hover text-center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Facility Name</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Deposit</th>
      <th scope="col">Total Payment</th>
      <th colspan="2" class="text-start">Attach Facilities</th>
    </tr>
    </thead>
    <tbody id="tbodyDisplay">
    <tr *ngFor="let contract of contractList">
      <td>{{contractList.indexOf(contract) + 1}}</td>
      <td>{{contract.facility?.name}}</td>
      <td>{{contract.customer?.name}}</td>
      <td>{{contract.employee?.name}}</td>
      <td>{{contract.startDate}}</td>
      <td>{{contract.endDate}}</td>
      <td>{{contract.deposit}}</td>
      <td>Chưa tính</td>
      <td>
        <button class="btn btn-primary" type="button"
                onclick="addContractDetail()">+
        </button>
      </td>
      <td>
        <button class="btn btn-primary" type="button" [value]="contract.id" data-bs-target="#contractDetailModal"
                data-bs-toggle="modal">Current Contract Detail
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="modal fade" id="contractDetailModal" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Alert</h1>
          <button type="button" class="btn-close"
                  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table mb-5 table-striped table-borderless table-hover text-center">
            <thead>
            <tr>
              <th scope="col">Contract Detail Name</th>
              <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody id="showContractDetail">
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
