<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                        <h1 class="modal-title fs-5">Thêm mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form [formGroup]="productForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div>
                              <p>Mã sản phẩm:</p>
                              <input type="number" formControlName="id">
                            </div>
                            <div>
                              <p>Tên sản phẩm:</p>
                              <input type="text" formControlName="name">
                            </div>
                            <div>
                              <p>Giá sản phẩm</p>
                              <input type="number" formControlName="price">
                            </div>
                            <div>
                              <p>Mô tả về sản phẩm</p>
                              <input type="text" formControlName="description">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Thêm mới</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
