<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script>
        function showDetail(title,author,content,date,id){
            document.getElementById("detailTitle").value = title;
            document.getElementById("detailAuthor").value = author;
            document.getElementById("detailContent").value = content;
            document.getElementById("detailDate").value = date;
            document.getElementById("id").value = id;
        }
        function showAlertDelete(id,title,author){
            document.getElementById("deleteAlert").value = "Xác nhận xoá blog chủ đề" + title + " của tác giả " +author+" ?";
            document.getElementById("deleteConfirm").value = id;
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="text-center">Danh sách blog</h1>
    <table class="table table-hover table-striped table-dark">
        <thead>
        <tr>
            <td>#</td>
            <td>Chủ đề blog</td>
            <td>Tác giả</td>
            <td>Xem Nội Dung Chi tiết</td>
            <td>Sửa</td>
            <td>Xoá</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog,status:${blogList}">
            <td th:text="${status.count}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.author}"></td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailModal"
                        th:attr="onclick=|showDetail('${blog.title}','${blog.author}','${blog.content}','${blog.date}','${blog.id}');|">
                    Chi tiết
                </button>
            </td>
            <td>
                <a class="btn btn-success" th:href="@{/save(id=${blog.id})}">Sửa</a>
            </td>
            <td>
                <button type="button" class="btn btn-danger"
                        th:attr="onclick=|showAlertDelete('${blog.id}','${blog.title}','${blog.author}');|" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">Xoá
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Thông tin chi tiết</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/save}">
            <div class="modal-body">
                <label for="detailTitle">Tiêu đề: </label>
                <input type="text" readonly id="detailTitle"><br>
                <label for="detailDate">Ngày viết: </label>
                <input type="date" readonly id="detailDate"><br>
                <label for="detailContent">Nội dung Blog: </label>
                <input type="text" readonly id="detailContent"><br>
                <label for="detailAuthor">Tác giả: </label>
                <input type="text" readonly id="detailAuthor">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="id" name="id">Sửa
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">XOÁ SẢN PHẨM</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/delete}">
                <div class="modal-body">
                    <p id="deleteAlert"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="deleteConfirm" name="deleteConfirm">Xác
                        nhận
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>