<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">DELETE</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="toDoDeleteForm" (ngSubmit)="deleteToDo()" class="mb-3">
        <div class="modal-body">
          <p>Bạn muốn xoá To Do với:</p>
          <label for="inputId">Id: </label>
          <input type="number" readonly id="inputId" formControlName="id">
          <label for="inputContent">Content: </label>
          <input type="text" readonly id="inputContent" formControlName="content">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">DELETE</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>
