<div class="container">
  <h1 class="text-center">CREATE CUSTOMER</h1>
  <input id="editCustomerId" hidden type="number">
  <div class="mb-3">
    <div class="d-flex gap-3">
      <label for="editCustomerName" class="form-label">Customer
        Name:</label>
      <input type="text" class="form-control form-control-sm"

             id="editCustomerName">
    </div>
    <p
      class="text-danger"></p>
  </div>
  <div class="mb-3 ">
    <div class="d-flex gap-3">
      <label for="editCustomerDOB" class="form-label">Date of
        Birth:</label>
      <input type="date" class="form-control form-control-sm"
             id="editCustomerDOB"
      >
    </div>
  </div>
  <div class="mb-3 ">
    <div class="d-flex gap-3">
      <label for="editCustomerGender" class="form-label">Gender:</label>
      <select id="editCustomerGender">
        <option value="true">Male</option>
        <option value="false">Female</option>
      </select>
    </div>
  </div>
  <div class="mb-3 ">
    <div class="d-flex gap-3">
      <label for="editCustomerIdCard" class="form-label">Identity
        Card Number:</label>
      <input type="text" class="form-control form-control-sm"
             id="editCustomerIdCard"
      >
    </div>
    <p class="text-danger"></p>
  </div>
  <div class="mb-3 ">
    <div class="d-flex gap-3">
      <label for="editPhoneNumber" class="form-label">Phone
        Number:</label>
      <input type="text" class="form-control form-control-sm"
             id="editPhoneNumber">
    </div>
    <p class="text-danger"></p>
  </div>
  <div class="mb-3 ">
    <div class="d-flex gap-3">
      <label for="editCustomerEmail" class="form-label">Email:</label>
      <input type="text" class="form-control form-control-sm"
             id="editCustomerEmail">
    </div>
    <p class="text-danger"></p>
  </div>
  <div class="mb-3 ">
    <div class="d-flex gap-3">
      <label for="editCustomerAddress" class="form-label">Address:</label>
      <input type="text" class="form-control form-control-sm"
             id="editCustomerAddress">
    </div>
    <p class="text-danger"></p>
  </div>
  <div class="mb-3 ">
    <div class="d-flex gap-3">
      <label for="editCustomerRank" class="form-label">Customer
        Rank:</label>
      <select id="editCustomerRank" class="form-select
                        form-control-sm"
              aria-label="Default select example">
        <option></option>
      </select>
    </div>
  </div>
</div>
