<div class="card" style="width: 18rem;">
  <img src="assets/img/facility/cat1.jpg"
       class="card-img-top" alt="Cat">
  <div class="card-body">
    <h5 class="card-title text-center">Facility Name</h5>
    <p class="card-text">
    <div class="clearfix mb-3">
                        <span class="float-start rounded-pill badge"
                              style="color: white;background: orange;">
                            Villa
                        </span>
      <span class="float-end text-muted badge">Price $$</span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="float-start">Max People :</span>
        <span class="float-end">1</span>
      </li>
      <li class="list-group-item">
        <span class="float-start">Area :</span>
        <span class="float-end">1m2</span>
      </li>
      <li class="list-group-item">
      </li>
    </ul>
    </p>
    <div class="text-center">
      <a href="#" class="btn btn-warning" style="font-size:
                        small;">CHECK OFFER</a>
    </div>
  </div>
</div>
